@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 262 52% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262 52% 57%;
  }
  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 98%;
    --card: 0 0% 24%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 262 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

.name-hover-effect {
  position: relative;
  font-size: clamp(2.5rem, 8vw, 4rem); /* Responsive font size */
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.name-hover-effect span:nth-child(1),
.name-hover-effect span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(var(--foreground));
  transition: 0.5s;
  overflow: hidden;
}

.name-hover-effect span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.name-hover-effect span:nth-child(2) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.name-hover-effect:hover span:nth-child(1) {
  transform: translateY(-0.3em);
}

.name-hover-effect:hover span:nth-child(2) {
  transform: translateY(0.3em);
}

.name-hover-effect span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%) scaleY(0);
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--primary));
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 0.2em 0.5em;
  transition: 0.5s;
  border-radius: var(--radius);
}

.name-hover-effect:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
}
